
  * {
    margin: 0;
    padding: 0;

  }

  body {
    font: 16px Helvetica, Sans-Serif;
    line-height: 24px;
  /*background: url(images/metal.jpg);

    background-color: <img src="bubbly.gif" />;*/

    background-image: url("Bubble2.webm");
   background-size: width: auto;
                    height: auto;
  }
  .clear {
    clear: both;
  }

  .sticker {
    width: 100px;
    height: 50px;
    position: fixed;
    right: 0;
    top: 50%;
    background: blue ;
    color: #fff;
  }


  .container {


  display: flex;
  flex-wrap: wrap;
 justify-content: space-between;
    justify-content: center;
    height: auto;
  }

  .container > .box {
  width: 250px;
  margin-right: 10px;

  }


  #page-wrap {
    width: 1000px;
    margin: 40px auto 60px;
    /* create space around content */
  }

  #pic {
    float: right;
    margin: -30px 0 0 0;
  }

  h1 {
    color: rgb(218, 70, 21);
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -2px;

    /*add bottom line*/
  }

  h2 {
    color: rgb(218, 70, 21);
    font-size: 16px;
    margin: 0 0 6px 0;
    position: relative;
  }

  /*allows for alternative style definition*/
  h2 span {
    color: rgb(34, 34, 90);
    position: absolute;
    /*break normal position flow of the stack*/
    bottom: 0;
    right: 0;
    font-style: italic;
    font-family: Georgia, Serif;
    font-size: 16px;
    color: #999;
    font-weight: normal;
  }

  p {
    margin: 0 0 16px 0;
    color: rgb(13, 196, 199);
  }

  a {
    color: rgb(13, 196, 199);
    text-decoration: none;
    border-bottom: 1px dotted #999;
  }

  a:hover {
    border-bottom-style: solid;
    color: Green;
  }

  ul {
    margin: 0 0 32px 17px;
  }

  li {
    /* color: rgb(248, 210, 55); */
    color: rgb(13, 196, 199);
  }


  #objective {
    width: 500px;
    float: left;
  }

  #objective p {
    font-family: arial;
    /* font-style: italic; */
    color: rgb(39, 191, 187);
  }

  dt {
    color: rgb(29, 165, 161);
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    /*allow text to right align*/
    padding: 0 26px 0 0;
    width: 150px;
    /*narrow width that doens't take up the entire page*/
    float: left;
    /*allow additional conent to go to the right*/
    height: 100px;
    border-right: 1px solid #999;
  }

  dd {
    color: rgb(248, 210, 55);
    width: 600px;
    /*narrow width that doens't take up the entire page*/
    float: right;
    /*allow additional conent to go to the left*/
  }

  /* create empty clearing between subsections */
  dd.clear {
    float: none;
    margin: 0;
    height: 15px;

  }

  @keyframes example {

  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

.spin{


/*     animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
background: orangered;
    animation: example 2s infinite;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
